<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${task.getName()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div>
        <a href="/user/student/">
            <button>В личный кабинет</button>
        </a>
    </div>
    <h2 th:text="${task.getName()}"></h2>
    <textarea name="description" th:text="${task.getDescription()}" style="width: 500px" disabled></textarea>
    <div class="answer" th:if="${progress}">
        <div th:if="${progress.getVerified() == 1}">
            <p th:text="${'Задание проверено. Оценка - ' + progress.getAssessment()}"></p>
        </div>
        <div th:if="${progress.getVerified() == 0 }">
            <p th:text="${'Задание не проверено преподавателем'}"></p>
        </div>
    </div>
    <div class="answer" th:if="${progress == null}">
        <form method="post" th:action="@{/user/student/task/create}">
            <p>
                Ваше решение: <input name="response" type="text"/>
            </p>
            <p style="display: none">
                <input type="number" name="idTask" th:value="${task.getId()}">
            </p>
            <p>
                <button>Отправить ответ</button>
            </p>
        </form>
    </div>
</div>

</body>
</html>