body {
    /*text-align: center;*/
}

table, th, td {
    /*border: 1px solid;*/
}

.lessons {
    display: inline-flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.lesson__block {
    padding: 1em;
    border: 1px solid;
    width: 25%;
    margin: 1px;
}

.lesson__teacher__block {
    margin-bottom: 1em;
    border-bottom: 1px solid;
}

.lesson__teacher {
    text-decoration: underline;
}

.breadcrumbs {
    text-align: left;
    margin-bottom: 1em;
}

.content {
    text-align: left;
}

.first__block {
    width: 30%;
    overflow: auto;
    float: left;
}

.second__block {
    width: 70%;
    overflow: auto;
}

.margin-15 {
    margin: 0 1em;
}
.margin-btm{
    margin-bottom: 1em;
}

.users {
    display: flex;
}

.img__icon {
    height: 15px;
}

.create {
    margin-bottom: 1em;
}

.block__form {
    display: flex;
    margin: 1em 0;
}

.text__form {
    min-width: 120px;
}

.create__lesson__block {
    padding: 1em;
    border: 1px solid;
    width: 25%;
    margin: 1px;
}