<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя ' + user.getLogin()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="content">
    <div>
        <h2 th:text="${'Профиль пользователя: ' + user.getFirstName() + ' ' + user.getLastName()}"></h2>
    </div>
    <div class="first__block">
        <h2>Список групп:</h2>
        <ul th:if="${groups}" th:each="group : ${groups}">
            <li>
                <span th:text="${group.getTitle()}"></span>
                <a th:href="@{/user/student/group/view/{id}(id=${group.getId()})}"
                ><img class="img__icon" th:src="@{/icons/show.png}"></a>
            </li>
        </ul>
        <p th:unless="${groups}" th:text="${'Список группы пуст'}"></p>
    </div>
    <div class="lessons second__block" th:if="${lessons != null}">
        <div class="lesson__block" th:each="lesson : ${lessons}">
            <div class="lesson__teacher__block">
                <span class="lesson__teacher">Преподаватели:</span><br>
                <div th:each="teachers : ${lessonTeachers}" th:if="${teachers.getKey() == lesson.getKey()}">
                    <p th:each="teacher : ${teachers.getValue()}"
                       th:text="${teacher.getFirstName() + ' ' + teacher.getLastName + ' ' + teacher.getPatronymic}"></p>
                </div>
            </div>
            <div class="lesson__classroom">
                <span th:text="${'Аудитория: ' + lesson.getKey().getClassRoom()}"></span>
            </div>
            <div class="lesson__date">
                <span th:text="${'Начало: ' + #dates.format(lesson.getKey().getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></span><br>
                <span th:text="${'Окончание: ' + #dates.format(lesson.getKey().getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></span>
            </div>
            <div>
                <ul th:if="${lesson.getValue()}" th:each="task : ${lesson.getValue()}">
                    <li>
                        <a th:href="@{/user/student/task/view/{id}(id=${task.getId()})}"
                           th:text="${task.getName()}"></a>
                        <span th:if="${studentProgress.get(task.getId())}">
                            <span th:if="${studentProgress.get(task.getId()).getVerified()}"
                                  th:text="${'Оценка ' + studentProgress.get(task.getId()).getAssessment()}">
                            </span>
                            <span th:unless="${studentProgress.get(task.getId()).getVerified()}">
                                Не проверено
                            </span>
                        </span>
                        <span class="without__evaluation"
                              th:unless="${studentProgress.get(task.getId())}">Решения нет</span>
                    </li>
                </ul>
                <p th:unless="${lesson.getValue()}" th:text="${'Список заданий пуст'}"></p>
            </div>


        </div>
    </div>
</div>
</body>
</html>