<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя ' + user.getLogin()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div>
        <h2 th:text="${'Профиль пользователя: ' + user.getFirstName() + ' ' + user.getLastName() + ' ' + user.getPatronymic()}"></h2>
    </div>
    <div class="margin-btm">
        <a href="/user/teacher/lesson/create">
            <button>Добавить занятие</button>
        </a>
    </div>
    <div>
        <a href="/user/teacher/task/create">
            <button>Добавить задание</button>
        </a>
    </div>
    <div class="first__block">
        <h2>Список заданий</h2>
        <ul>
            <li th:each="task : ${tasks}">
                <a th:href="@{/user/teacher/task/view/{id}(id=${task.getId()})}"
                   th:text="${task.getName()}"></a>
            </li>
        </ul>
    </div>
    <div class="lessons second__block" th:if="${lessons != null}">
        <div class="lesson__block" th:each="lesson : ${lessons}">
            <div class="lesson__teacher__block">
                <span class="lesson__teacher">Преподаватели:</span><br>
                <div th:each="teachers : ${lessonTeachers}" th:if="${teachers.getKey() == lesson}">
                    <p th:each="teacher : ${teachers.getValue()}"
                       th:text="${teacher.getFirstName() + ' ' + teacher.getLastName + ' ' + teacher.getPatronymic}"></p>
                </div>
            </div>
            <div class="lesson__classroom">
                <span th:text="${'Аудитория: ' + lesson.getClassRoom()}"></span>
            </div>
            <div class="lesson__date">
                <span th:text="${'Начало: ' + #dates.format(lesson.getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></span><br>
                <span th:text="${'Окончание: ' + #dates.format(lesson.getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></span>
            </div>
            <div class="lesson__group">
                <div th:each="lssnGrp : ${lessonGroup}" th:if="${lssnGrp.getKey().getId == lesson.getId()}">
                    <ul>
                        <li th:each="group : ${lssnGrp.getValue()}">
                            <a
                                    th:href="@{/user/teacher/group/view/{id}(id=${group.getId()})}"
                                    th:text="${group.getTitle()}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>