<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div>
        <a href="/user/administrator/">
            <button>В личный кабинет</button>
        </a>
    </div>
    <form method="post">
        <p th:if="${errorsList!= null}">
        <p class="errorMessage" th:each="error: ${errorsList}"
           th:text="${error.getField() + ' ' + error.getDefaultMessage()}"></p>
        </p>
        <h1>Регистрация</h1>
        <div class="block__form">
            <div class="text__form">Логин:</div>
            <div><input name="login"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Имя:</div>
            <div><input name="firstName"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Фамилия:</div>
            <div><input name="lastName"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Отчество:</div>
            <div><input name="patronymic"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Дата рождения:</div>
            <div><input name="birthDay" type="date"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Пароль:</div>
            <div><input name="password" type="password" minlength="4"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Повтор пароля:</div>
            <div><input name="password2" type="password" minlength="4"/></div>
        </div>
        <div class="block__form">
            <div class="text__form">Роль:</div>
            <div>
                <select name="role">
                    <option th:each="role : ${roles}" th:value="${role.id}"
                            th:text="${role.getName()}"></option>
                </select>
            </div>
        </div>
        <div>
            <button>Регистрация пользователя</button>
        </div>

    </form>
</div>
</body>
</html>