<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Профиль пользователя ' + user.getLogin()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div class="create">
        <a href="/user/administrator/create">
            <button>Создать пользователя</button>
        </a>
    </div>
    <div class="create">
        <a href="/user/administrator/group/create">
            <button>Создать группу</button>
        </a>
    </div>
    <div class="users">
        <div class="user__students margin-15">
            <h2>Список студентов:</h2>
            <ul th:if="${students}" th:each="student : ${students}">
                <li>
                    <span th:text="${student.getFirstName() + ' ' + student.getLastName() + ' ' + student.getPatronymic()}"></span>
                    <!--<a th:href="@{/user/administrator/edit/{id}(id=${student.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/edit.png}"></a>
                    <a th:href="@{/user/administrator/delete/{id}(id=${student.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/delete.png}"></a>-->
                </li>
            </ul>
            <p th:unless="${students}" th:text="${'Список студентов пуст'}"></p>
        </div>

        <div class="user__teachers margin-15">
            <h2>Список преподавателей:</h2>
            <ul th:if="${teachers}" th:each="teacher : ${teachers}">
                <li>
                   <span th:text="${teacher.getFirstName() + ' ' + teacher.getLastName() + ' ' + teacher.getPatronymic()}"></span>
                    <!-- <a th:href="@{/user/administrator/edit/{id}(id=${teacher.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/edit.png}"></a>
                    <a th:href="@{/user/administrator/delete/{id}(id=${teacher.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/delete.png}"></a>-->
                </li>
            </ul>
            <p th:unless="${teachers}" th:text="${'Список преподавателей пуст'}"></p>
        </div>
        <div class="user__administrators margin-15">
            <h2>Список администраторов:</h2>
            <ul th:if="${administrators}" th:each="administrator : ${administrators}">
                <li th:if="${!user.getId().equals(administrator.getId())}">
                    <span th:text="${administrator.getFirstName() + ' ' + administrator.getLastName() + ' ' + administrator.getPatronymic()}"></span>
                    <!--<a th:href="@{/user/administrator/edit/{id}(id=${administrator.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/edit.png}"></a>
                    <a th:href="@{/user/administrator/delete/{id}(id=${administrator.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/delete.png}"></a>-->
                </li>
            </ul>
            <p th:unless="${administrators}" th:text="${'Список администраторов пуст'}"></p>
        </div>
        <div class="user__administrators margin-15">
            <h2>Список Групп:</h2>
            <ul th:if="${groups}" th:each="group : ${groups}">
                <li>
                    <span th:text="${group.getTitle()}"></span>
                    <!--<a th:href="@{/user/administrator/group/view/{id}(id=${group.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/show.png}"></a>
                    <a th:href="@{/user/administrator/group/edit/{id}(id=${group.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/edit.png}"></a>
                    <a th:href="@{/user/administrator/group/delete/{id}(id=${group.getId()})}"
                    ><img class="img__icon" th:src="@{/icons/delete.png}"></a>-->
                </li>
            </ul>
            <p th:unless="${groups}" th:text="${'Список групп пуст'}"></p>
        </div>
    </div>

</div>
</body>
</html>