<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группа не найдена!</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Группа не найдена или недоступна</h1>
<div>
    <a th:href="@{/{path}/(path=${path})}">
        <button>Вернуться в личный кабинет</button>
    </a>
</div>
</body>
</html>