<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание новой группы</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div>
    <a href="/user/administrator/">
        <button>В личный кабинет</button>
    </a>
</div>
<h1>Создание группы</h1>
<form method="post">
    <p th:if="${errorsList!= null}">
    <p class="errorMessage" th:each="error: ${errorsList}"
       th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
    </p>
    <p>
        <label>Введите название группы:</label>
        </br>
        <input name="title" type="text"/>
    </p>
    <p>
        <label>Выберите студентов</label>
        <br/>
        <select name="students" multiple>
            <option th:each="student : ${students}" th:value="${student.id}"
                    th:text="${student.getFirstName() + ' ' + student.getLastName() + ' ' + student.getPatronymic()}"></option>
        </select>
    </p>
    <p>
        <button>Создать группу</button>
    </p>
</form>
</body>
</html>