<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Просмотр задания - ' + task.getName()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div>
        <a href="/user/teacher/">
            <button>В личный кабинет</button>
        </a>
    </div>
    <h2 th:text="${task.getName()}"></h2>
    <p>
        Текст задания: <textarea name="description" th:text="${task.getDescription()}" style="width: 500px" disabled></textarea>
    </p>
    <p>
        Ответ студента: <textarea name="answer" th:text="${progress.getResponse()}" style="width: 150px"
                                  disabled></textarea>
    </p>

    <form method="post">
        <p>
            Оценка:
            <select name="assessment">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </p>
        <p>
            <button>Проставить оценку</button>
        </p>
    </form>
</div>
</body>
</html>