<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Просмотр задания - ' + task.getName()}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="content">
    <div>
        <a href="/user/teacher/">
            <button>В личный кабинет</button>
        </a>
    </div>
    <h2 th:text="${task.getName()}"></h2>
    <textarea name="description" th:text="${task.getDescription()}" style="width: 500px"></textarea>
    <ul>
        <li th:each="user : ${userProgress}" >
            <span th:if="${user.getValue()}">
                <span th:if="${user.getValue.getVerified() == 1}"
                      th:text="${user.getKey().getFirstName() + ' '
            + user.getKey().getLastName() + ' '
            + user.getKey().getPatronymic() + ' / оценка - ' + user.getValue().getAssessment()}"></span>

                <span th:unless="${user.getValue.getVerified() == 1}" >
                    <span th:text="${user.getKey().getFirstName() + ' '
            + user.getKey().getLastName() + ' '
            + user.getKey().getPatronymic() + ' / '}"></span>
                     <a th:text="${'задание требует проверки'}"
                        th:href="@{/user/teacher/task/examination/{id_task}/{id_user}(id_task=${task.getId()}, id_user=${user.getKey().getId()})}"></a>
                </span>
            </span>
            <span th:unless="${user.getValue()}" th:text="${user.getKey().getFirstName() + ' '
            + user.getKey().getLastName() + ' '
            + user.getKey().getPatronymic() + ' - нет решения.'}"></span>
        </li>

    </ul>
</div>
</body>
</html>