<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр сведений о группе</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<h1 th:text="${group.getTitle()}" style="text-align: center;"></h1>
<div class="breadcrumbs">
    <a href="/user/teacher/">
        <button>В личный кабинет</button>
    </a>
</div>
<div>
    <a th:href="@{/user/teacher/lesson/create(group_id=${group.getId()})}">
        <button>Добавить занятия группе</button>
    </a>
</div>
<div class="content">
    <div class="users first__block" th:if="${users}">
        <h3>Список группы:</h3>
        <ul>
            <li th:each="user : ${users}"
                th:text="${user.firstName + ' ' + user.lastName + ' ' + user.patronymic}"></li>
        </ul>
    </div>

    <div class="users first__block" th:unless="${users}">
        Список студентов пуст.
    </div>
    <div class="lessons second__block" th:if="${lessons != null}">
        <div class="lesson__block" th:each="lesson : ${lessons}">
            <div class="lesson__teacher__block">
                <span class="lesson__teacher">Преподаватели:</span><br>
                <div th:each="teachers : ${lessonTeachers}" th:if="${teachers.getKey() == lesson.getKey()}">
                    <p th:each="teacher : ${teachers.getValue()}"
                       th:text="${teacher.getFirstName() + ' ' + teacher.getLastName + ' ' + teacher.getPatronymic}"></p>
                </div>
            </div>
            <div class="lesson__classroom">
                <span th:text="${'Аудитория: ' + lesson.getKey().getClassRoom()}"></span>
            </div>
            <div class="lesson__date">
                <span th:text="${'Начало: ' + #dates.format(lesson.getKey().getStartTime(), 'dd-MM-yyyy HH:mm:ss')}"></span><br>
                <span th:text="${'Окончание: ' + #dates.format(lesson.getKey().getEndTime(), 'dd-MM-yyyy HH:mm:ss')}"></span>
            </div>
            <div>
                <ul th:if="${lesson.getValue()}" th:each="task : ${lesson.getValue()}">
                    <li>
                        <a th:href="@{/user/teacher/task/view/{id}(id=${task.getId()})}"
                           th:text="${task.getName()}"></a>

                    </li>
                </ul>
                <p th:unless="${lesson.getValue()}" th:text="${'Список заданий пуст'}"></p>
            </div>
        </div>

        <div class="lessons second__block" th:unless="${lessons}">
            Список занятий для группы пуст.
        </div>
    </div>
</div>
</body>
</html>